<!-- Appender : 로그의 출력 위치 지정 -->
<!-- Console Appender -->
<!-- Encoder : 사용자가 지정한 형식으로 표현 될 로그메시지를 변환하는 역할 -->

<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-3level %logger{5} -
				%msg %n</pattern>
		</encoder>
	</appender>
	
	<!-- Logger : 로깅이 일어나는 부분을 그룹화해 필요한 그룹의 로그만을 출력하거나, 카테고리에 우선순위를 부여함 -->
	<logger name="jdbc" level="OFF" />

	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.connection" level="OFF" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration> 